body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
header{
    width: 100%;
    height: 500px;
     background: rgba(229, 84, 115, 0.10);
}
.header-container{
    display: flex;

   
}
.header-column1{
       padding: 150px 150px 100px 150px;
}
.header-column2{
    margin-bottom: 0;
}
.header-title{
    color: #272727;

font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.btn-primary{
    color: #FFF;
 font-size: 20px;
 font-weight: 700;
 padding: 5px 10px;
 border-radius: 8px;
background: #E55473;
}

.feature{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.feature-header{
    color: #272727;
text-align: center;
margin-top: 150px;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.feature-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.feature-items{
    display: flex;
    text-align: center;
    gap: 70px;
}
.item-img1{
    margin-right: 24px;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 300px;
height: 400px;
padding: 90px 50px 0 50px;

}
.item-img2{
    margin-right: 24px;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
width: 300px;
height: 400px;
padding: 70px 47px 20px 47px;
}
.item-img3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15); 
    width: 300px;
height: 400px;
padding:  70px 47px 20px 47px;

}
.item-title{
    color: #272727;
text-align: center;
font-weight: 700;
text-decoration-line: underline;
}
.service{
    max-width: 1140px;
    margin: 0 auto;
}
.service-container{
    height: 220px;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);

}
.service-item-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 40px;

}
.service-item1{
    padding: 30px 0 25px 30px;
}
.service-item2{
    padding: 30px 0 25px 0;
}
.service-item3{
    padding: 30px 20px 25px 0;
}
.service-des{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 20px;
font-weight: 600;

}

.offer {
    display: flex;
    width: 100%;
    height: 420px;
    margin-top: 100px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
  }
  
  .offer-container {
    display: flex;
    width: 100%;
    text-align: center;
    
  }
  
  .offer-column {
    flex: 1;
    margin-top: 45px;
    padding: 100px 250px 25px 250px;
  }
  .offer-image{
   width: 200px;
   padding: 100px 250px 200px 0;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .insta-title{
    margin-top: 100px;
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.insta-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.insta-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
   }
.insta-item{
      margin-right: 15px;
}
.deal{
   background-image: url('../Flower%20Asset/Rectangle%209.png');
   max-width: 1140px;
   margin: 0 auto;
   height: 300px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   margin-top: 100px;
   text-align: center;
   margin-bottom: 100px;
}
.deal-container{
    padding: 20px 20px;
}
.deal-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
input{
    width: 500px;
height: 30px;
flex-shrink: 0;
border: 0;
    
background: #FFF;
}
 .event{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
   
 } 
 .event-container{
    display: flex;
    text-align: center;
    border-radius: 8px;
   background-color: rgb(255, 182, 193);
 }
 .event1{
    width: 300px;
    height: 350px;
    margin-right: 24px;
    padding-top: 70px ;
    padding-left: 50px;
 }
 .event-title{
    margin-top: 100px;
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
 }
 .event-color{
    color: pink;
 }
 .event-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 70px;
 }
 .event-img{
    border-radius: 50%;
    
 }
 .img-des{
    color: 	rgb(255,20,147);
    font-weight: 700;
 }
footer{
    width: 100%;
    height: 348px;
    background: #111010;
}
.footer-container{
    padding: 50px 200px 50px 200px;
}
.footer-title{
    color: #E55473;
font-size: 38px;
font-weight: 800;
text-align: center;

}
.white{
    color: white;
}
.footer-des{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 13px;
font-weight: 400;

}
.footer-since{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 10px;
font-weight: 400;
}
